langchain
langchain-groq
langchain-google-genai
langchain-mistralai
python-dotenv
langchain-core
langchain-community
langgraph
faiss-cpu
tiktoken
fastapi
uvicorn
requests
langchain_huggingface
streamlit